@model List<String>
<div>
    @foreach (var device in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="~/img/ic-pc.png" class="card-img-top" alt="pc" style="width: 50%; padding: 5px; margin: 0 auto;">
            <div class="card-body">
                <h5 class="card-title">@device</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
               
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Action 1</a>
                <a href="#" class="card-link">Action 2</a>
            </div>
        </div>
    }
</div>
